<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FRAZIER FARM</title>
  </head>

  <body>
    <div class="header">
      <!-- title -->
      <div class="header-title">
        <img src="/img/logo.jpg" alt="Frazier Farm Logo" />
        <h1>EDIT BOARDER INFO</h1>
      </div>
      <div class="header-nav">
        <ul>
          <li>
            <a href="/horses">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <form action="/horses/<%=horse.id%>?_method=PUT" method="POST">
      <fieldset>
        <div class="jumbotron">
          <legend>Owner Info</legend>
          <li>
            <label for="ownerName">name</label>
            <input
              type="text"
              name="ownerName"
              id="ownerName"
              value="<%= horse.ownerName %>"
              placeholder="name"
            />
          </li>

          <li>
            <label for="ownerNickname">nickname</label>
            <input
              type="text"
              name="ownerNickname"
              id="ownerNickname"
              value="<%= horse.ownerNickname %>"
              placeholder="nickname"
            />
          </li>

          <legend>Horse Info</legend>
          <li>
            <label for="name">name</label>
            <input
              type="text"
              name="name"
              id="name"
              value="<%= horse.name %>"
              placeholder="name"
            />
          </li>
          <li class="horseImage">
            <label for="picture">link to picture</label>
            <input
              type="text"
              size="40"
              name="img"
              id="img"
              value="<%= horse.img %>"
              placeholder="picture"
            />
          </li>
          <li>
            <label for="nickname">nickname</label>
            <input
              type="text"
              name="nickname"
              id="nickname"
              value="<%= horse.nickname %>"
              placeholder="nickname"
            />
          </li>
          <li>
            <label for="typeOfBoard">type of board</label>
            <input
              type="text"
              name="typeOfBoard"
              id="typeOfBoard"
              value="<%= horse.typeOfBoard %>"
              placeholder="typeOfBoard"
            />
          </li>
          <li>
            <label for="gender">gender</label>
            <input
              type="text"
              name="gender"
              id="gender"
              value="<%= horse.gender %>"
              placeholder="gender"
            />
          </li>
          <li>
            <label for="age">age</label>
            <input
              type="text"
              name="age"
              id="age"
              value="<%= horse.age %>"
              placeholder="age"
            />
          </li>
          <li>
            <label for="breed">breed</label>
            <input
              type="text"
              name="breed"
              id="breed"
              value="<%= horse.breed %>"
              placeholder="breed"
            />
          </li>
          <li>
            <label for="color">color</label>
            <input
              type="text"
              name="color"
              id="color"
              value="<%= horse.color %>"
              placeholder="color"
            />
          </li>
          <li>
            <label for="height">height</label>
            <input
              type="text"
              name="height"
              id="height"
              value="<%= horse.height %>"
              placeholder="height"
            />
          </li>
          <p>Feed Schedule</p>
          <li>
            <textarea
              rows="5"
              cols="40"
              name="supplements"
              placeholder="feed schedule"
            >
    "<%= horse.supplements %>"</textarea
            >
          </li>
          <input type="submit" class="otherButtons" value="SUBMIT" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
