<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />

    <title>horses</title>
  </head>
  <body>
    <h1>Edit Horses</h1>
    <button class="center"><a href="/horses">Back To Main</a></button>

    <form action="/horses/<%=horse.id%>?_method=PUT" method="POST">
      <fieldset class="horseInfo">
        <legend>horses</legend>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= horse.name %>"
          placeholder="Horse Name"
        />
        <input
          type="text"
          name="nickname"
          id="nickname"
          value="<%= horse.nickname %>"
          placeholder="Horse Nickname"
        />
        <input
          type="text"
          name="img"
          id="img"
          value="<%= horse.img %>"
          placeholder="Horse Img"
        />
        <input
          type="number"
          name="price"
          id="price"
          value="<%= horse.price %>"
          placeholder="Price"
        />
      </fieldset>
      <input type="submit" class="otherButtons" value="SUBMIT" />
    </form>
  </body>
</html>
